body {
    background-color: yellow;
}

.container {
    background-color: white;
    margin: 5%;
    border: blue 3px solid;
}

.top {
    font-size: 3vw;
    text-align: center;
    border: blue 3px solid;
}

.middle {
    color: red;
    font-size: 4vw;
    text-align: center;
    border: blue 3px solid;
}

.bottom {
    text-align: center;
    width: 55%;
    color: red;
    font-size: 5vw;
    display: inline-block;
    border: blue 3px solid;
    border-right: none;
}

.explanation {
    width: 40%;
    color: black;
    text-align: right;
    display: inline-block;
    font-size: 3vw;
    border: blue 3px solid;
}
